.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    .btn{
        background-color: #fcfaf8;
        margin-top: 10px;
        margin-bottom: 10px;
        &:hover{
            background-color:#989593 ;
        }
    }
    .footer{
        padding: 6px;
        .footer-btn{
            border-radius: 5px;
            background-color: #fcfaf8;
            border: none;
            font-size: 14px;
            padding: 2px;
            &:hover{
                background-color:#989593 ;
            }

        }
    }
}